.nwmc {  font-size: 16px; font-family: sans-serif; color: #444; background: #5645AC; padding: 1em; border-radius: 10px 10px 10px 10px; }
.nwmc__logo { padding: 0 1em; }
.nwmc__logo__img { max-width: 100%; height: auto; }
.nwmc__convert { padding: 0 0 1em 0; }
.nwmc__title {color: #5645AC; margin: 0; padding-bottom: 0.6em; }
.nwmc__loading { color: white; font-weight: normal;}
.nwmc__form { margin: 1em 0; background: white; padding: 1em; border: 1px solid #ccc; border-radius: 10px; }
.nwmc__form-group { width: 33.3%; float: left; }
.nwmc__form-group.last { float: right; }
.nwmc__form-group-inner { padding: 0 0.5em; }
.nwmc__form-group-inner.first { padding: 0 0.25em 0 0; }
.nwmc__form-group-inner.third { padding: 0 0 0 0.25em; }
.nwmc__label {display: block; padding-bottom: 0.5em; color: #5645AC; }
.nwmc__select, .nwmc__input { height: 4em; line-height: 4em; background-color: white; display: block; padding: 0 1em; width: 100%; box-sizing: border-box; }
.nwmc__result { background: #F0DB3F; padding: 0.5em; border: 1px solid #ccc; }
.nwmc__result__label { font-weight: bold; padding-right: 0.5em; }
.nwmc__result__single { float: right; }
.nwmc__legal { font-size: 0.85em; }
.nwmc__contact { background: #ff0000; padding: 0.5em; border-radius: 10px; text-transform: uppercase; color: white; text-align: center; }
.nwmc__contact a { text-decoration: none; color: inherit; }

.nwmc__clearfix:before,
.nwmc__clearfix:after { content: " "; display: table; }
.nwmc__clearfix:after { clear: both; }
.nwmc__clearfix { *zoom: 1; }

.nwmc--small { font-size: 14px; }
.nwmc--small .nwmc__form-group { width: 100%; }
.nwmc--small .nwmc__form-group-inner,
.nwmc--small .nwmc__form-group-inner.first,
.nwmc--small .nwmc__form-group-inner.third { padding: 0.5em 0 0 0; }

.nwmc--tiny { text-align: center; font-size: 12px; }
.nwmc--tiny .nwmc__result__single { float: none; display: block; }
